[submodule "vscode-alephscript-extension"]
	path = vscode-alephscript-extension
	url = https://github.com/escrivivir-co/vscode-alephscript-extension.git
[submodule "alephscript-mcp-presets-site"]
	path = alephscript-mcp-presets-site
	url = https://github.com/escrivivir-co/alephscript-mcp-presets-site.git
[submodule "as-utils-sdk"]
	path = as-utils-sdk
	url = https://github.com/escrivivir-co/as-utils-sdk.code-workspace
[submodule "as-gym"]
	path = as-gym
	url = https://github.com/escrivivir-co/as-gym
	branch = dev/001
[submodule "alephscript-network-sdk"]
	path = alephscript-network-sdk
	url = https://github.com/escrivivir-co/alephscript-network-sdk.git
[submodule "kick-aleph-bot"]
	path = kick-aleph-bot
	url = https://github.com/escrivivir-co/kick-aleph-bot.git
[submodule "kick-aleph-crono-bot"]
	path = kick-aleph-crono-bot
	url = https://github.com/escrivivir-co/kick-aleph-crono-bot.git
